{% extends 'cutter/main-layout.html'%}
{% block  main_section %}
<div class="container">
  <div class="profile-form">
    <h2>Кабинет пользователя</h2>
   <div class="profile-form-info" >
        <strong>{{user.username}}</strong><br>
        <b>Email: </b> {{user.email}} <br>
        <p class='btn-exit-margin'>
          <a class="btn-exit" href="{% url 'exit' %}">Выйти из кабинета</a>
        </p>
    </div>
      <div class="edit-user">
        <h2>Изменить данные про пользователя</h2>
        <form method="POST" enctype="multipart/form-data" class="edit-form">
              {% csrf_token %}
              {{ update_user.as_p }}
            <button type="submit" name="button" class="btn btn-outline-warning">Обновить данные</button>
        </form>
      </div>
  </div>
</div>
{% endblock main_section%}
