{% extends 'simpy/main.html'%}

{% block  main_section %}
  <div class="column">
        <h3 class="display-3 pb-5 font-weight-bold">Страница c услугами</h3>
        <div class="row pt-5">
          <div class="col mr-4">
            <h4 class="font-weight-bold">Быстро</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere cupiditate voluptas corporis dolorum vero totam illum commodi sapiente distinctio minus.</p>
          </div>
          <div class="col mr-4">
            <h4 class="font-weight-bold">Дешево</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere cupiditate voluptas corporis dolorum vero totam illum commodi sapiente distinctio minus.</p>
          </div>
          <div class="col">
            <h4 class="font-weight-bold">Качественно</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere cupiditate voluptas corporis dolorum vero totam illum commodi sapiente distinctio minus.</p>
          </div>
        </div>
  </div>

{% endblock %}
