{% extends 'cutter/main-layout.html' %}
{% block main_section %}
<div class="container">
  <div class='home-container'>
    <h1>СОКРА.ТИМ</h1>
    <p>Быстро сократим любую длинную ссылку для вашего проэкта</p>
    <div class='div-btn-home'>
      {% if user.is_authenticated %}
        <a  class="btn-home" href="{% url 'profile' %}"><span>Личный кабинет</span></a>
      {% else %}
        <a  class="btn-home" href="{% url 'profile' %}"><span>Личный кабинет</span></a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
