{% extends 'cutter/main-layout.html' %}
{% block main_section %}
<div class="container">
  <div class='home-container'>
    <h1>СОКРА.ТИМ</h1>
    <p>Быстро сократим любую длинную ссылку для вашего проэкта</p>
    <div class='div-btn-home'>
      {% if user.is_authenticated %}
      <form action="{% url 'profile' %}" target="_self">
           <button class="btn-home">Кабинет пользователя</button>
      </form>
      {% else %}
      <form action="{% url 'profile' %}" target="_self" name="">
           <button class="btn-home">Кабинет пользователя</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
