{% extends 'blog/main.html'%}
{% block  main_section %}

  <div class="form-section">
    <h2>Вы точно хотите удалить статью {{ object.title }} ?</h2>
    <form class=" " method="POST">
        {% csrf_token %}
        <button type="submit" name="button" class="btn btn-outline-danger">Да, удалить</button>
        <a href="{% url 'news-detail' object.id %}">Нет, отмена</a>
    </form>
  </div>
{% endblock main_section%}

{% block  aside_news_section %}
    <h3><b>10 языков программирования, которые стали абсолютно ненужными</b></h3>
    <img src="https://itproger.com/img/news/1564123483.jpg" alt="" class='img-thumbnail mb-1'>
    <p>На данный момент уже более 8 тысяч языков программирования и немудрено что многие из них уже устарели. Мы расскажем про 10 ранее популярных языков, которые сейчас канули в никуда.</p>
    <a href="https://itproger.com/news/204" target="_blank">
     <button class="btn btn-warning">Посмотреть</button>
    </a>
{% endblock aside_news_section %}
